[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bigSurvSGD"]
	path = bigSurvSGD
	url = https://github.com/atarkhan/bigsurvsgd
